{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <div class="bt">
      <a href="{% url 'index' %}">Top</a>

      <a href="{% url 'update' task.id %}">Edit</a>

      <a href="{% url 'delete' task.id %}">Delete</a>

      <a href="{% url 'close' task.id %}">Close</a>

      <a href="{% url 're_open' task.id %}">Open</a>
    </div>

        
    <form action="{% url 'memo' task.id %}" method="post">
      {% csrf_token %}
      <div>
        <br>
        <label for="textInput"><h2>memo</h2></label><br>
        <textarea id="textInput" name="text" rows="3" required></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </div>
    </form>
    {% if memos %}
      {% for memo in memos %}
      <div>
        <div>
          <small>[{{ memo.posted_at }}]</small>
          <div>
            {{ memo.memo_text | linebreaksbr }}
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <br>
      <p>メモがありません。</p>
    {% endif %}


  </body>

</html>