.top {
    background-color: #333333;
    color: #FFFFFF;
}

.task {
    display: flex;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    background-color: lightgray; 
}